$primaryColor: #5E81F4;
$primaryHoverColor: #475EAA;
$lightInfoColor: #5E81F419;
$backgroundPrimaryColor: #F6F6F6;
$secondaryTextColor: #8181A5;
$white: #FFF;
$primaryText: #1C1D21;
$outline: #ECECF2;